@import url(./reset.css);
@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);

html{
 scroll-behavior: smooth;
}

.content-Nosso-Time, .content-Cursos, .content-FAQ, .content-Contato{
width: 100%;
height: 100vh;
display:flex;
justify-content: center;
align-items: center;
font-size: 40px;
color: #fff;
}
.content-Nosso-Time{
background-color: rgb(136, 46, 211);
justify-content: space-evenly;
}

.content-Cursos{
background-color: rgb(151, 61, 187);
}

.content-FAQ{
background-color: rgb(143, 68, 187);
}

.content-Contato{
background-color: rgb(152, 66, 185);
}


/* Estilos para o botão do Whatsapp */
.whatsapp-button {
  position: fixed;
  /* distância do rodapé */
  bottom: 100px; 
  /* distância da lateral */  
  right: 96px;    
  filter: drop-shadow(0 0 4px #ffffff); 
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img {
  width: 40px;  
}

.whatsapp-button:hover {
  transform: scale(1.1);
  
}

